<!DOCTYPE html>
<html ng-app="MyFirsApp">

<head>
    <meta charset="UTF-8">
    <title>First Controller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-controller="FirstController">
    <input type="text" ng-model="nuevoComentario.comentario">
    <br>
    <input type="text" ng-model="nuevoComentario.username">
    <br>
    <button ng-click="agregarComentario()">Agregar comentarios</button>
    <br>
    <h3>Comentarios</h3>
    <ul>
        <li ng-repeat="comentario in comentarios">
            {{comentario.comentario}} - <strong> {{comentario.username}} </strong>
        </li>
    </ul>
</body>

</html>
