<!DOCTYPE html>
<html ng-app="ToDoList">

<head>
    <meta charset="UTF-8">
    <title>TOD LIST</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="angular-local-storage.min.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-controller="ToDoController">
    <ul>
        <li ng-repeat = "actividad in todo">
            {{actividad.descripcion}} -
            {{actividad.fecha | date : "short"}}
        </li>
    </ul>
    <form ng-submit="addActv()">
        <input type="text" ng-model="newActv.descripcion">
        <br>
        <input type="datetime-local" ng-model="newActv.fecha">
        <br>
        <input type="submit" value="Guardar">
        <br>
        <button ng-click = "todo = []">Limpiar</button>
    </form>
</body>

</html>
