<!DOCTYPE html>
<html ng-app="MyFirsApp">

<head>
    <meta charset="UTF-8">
    <title>HTTP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="controller_2.js"></script>
</head>

<body ng-controller="FirstController">
    <div ng-controller="FirstController" id="getValue">
        <h1>{{numero}}</h1>
        <h1>{{posts.usuario}}</h1>
        <input type="text" ng-model="posts.numero">
        <!--
        <ul>
            <li ng-repeat="post in posts">
                <h4>{{post.numero}}  </h4>
                <p>{{post.usuario}} </p>
            </li>
        </ul>
        -->
    </div>
</body>
<script type="text/javascript">
    var street_name = $('[ng-controler="FirstController"]').scope().numero;
    console.log(street_name);
</script>

</html>
