<!DOCTYPE html>
<html ng-app="MyFirsApp">

<head>
    <meta charset="UTF-8">
    <title>HTTP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-controller="FirstController">
    <input type="text" ng-model="newPost.title">
    <br>
    <textarea ng-model="newPost.body"></textarea>
    <br>
    <button ng-click="addPost()">Enviar</button>
    <ul>
        <li ng-repeat="post in posts">
            <h4>{{post.title}} </h4>
            <p>{{post.body}} </p>
        </li>
    </ul>
</body>

</html>
